<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mvc Crud</title>
</head>
<body>
    <form action="/addData" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="enter name" name="name">
        <input type="number" placeholder="enter age" name="age">
        <input type="file" name="image">
        <button type="submit">Submit</button>
    </form>

    <table border="1" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>AGE</th>
                <th>IMAGE</th>
                <th colspan="2">ACTION</th>
            </tr>
        </thead>

        <tbody>
            <%data.map((e,i)=>{%>
                <tr>
                    <td><%=e.id%></td>
                    <td><%=e.name%></td>
                    <td><%=e.age%></td>
                    <td><img src="<%=e.image%>" width="15%" alt=""></td>
                    <td><a href="/editData?id=<%=e.id%>">Edit</a></td>
                    <td><a href="/deleteData?id=<%=e.id%>">Delete</a></td>
                </tr>
            <%})%>
        </tbody>
    </table>
</body>
</html>